* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  background: #fff;
  font-weight: 400;
  color: #555555;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  margin-top: 10px;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  margin: 0 0 10px;
}
ul,
ol {
  list-style: none;
  margin: 0;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}


