* {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background: #e7e8ec;
  font-weight: 400;
  color: #999;
}
body,
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: #000;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #6e55b4;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: 100%;
}
.wrapper {
  width: 1188px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.campaign-banner {
  background: #b636c1;
}

.links-bar {
  text-align: right;
  height: 25px;
  background: rgba(0, 0, 0, 0.03);
}
.list__links .list__links--item {
  display: inline-block;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  text-align: left;
  padding: 0 17px;
}
.list__links .list__links--item a {
  color: #0f1568;
  text-transform: uppercase;
}
.list__links .list__links--item a:hover {
  color: #f36d00;
  transition: color 0.2s;
}

.logo-bar {
  height: 75px;
  padding-top: 11px;
  background: #fff;
}
.logo-bar .logo-content {
  display: inline-block;
  width: 200px;
  height: 39px;
}
.logo-bar .logo-content img {
  width: 127px;
  height: 40px;
}

.bannner {
  background: #676ffe;
  font-size: 0;
}
.main-menu {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 344px;
  font-size: 13px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
}
.main-image {
  display: inline-block;
  vertical-align: top;
  width: 988px;
  height: 344px;
}

/* MAIN MENU */
.main-menu ul {
  padding: 8px 0 12px;
}
.main-menu ul li a {
  display: block;
  height: 27px;
  line-height: 27px;
  padding-left: 8px;
  padding-right: 8px;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
}
.main-menu ul li a:hover {
  background: #eceff1;
  color: #f36d00;
}

.submenu__level1 {
  height: 344px;
  visibility: hidden;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.main-menu ul li.main__menu--item:hover > .submenu__level1 {
  visibility: visible;
}

.submenu__level2 {
  height: 344px;
  visibility: hidden;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.main-menu ul li.submenu__level1--item:hover > .submenu__level2 {
  visibility: visible;
}

/* END HEADER */

/* FLASH SALE */
.flash-sale {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position-x: 50%;
  background-image: url(https://laz-img-cdn.alicdn.com/images/ims-web/TB1cuYhpCslXu8jSZFuXXXg7FXa.gif);
  padding-bottom: 10px;
}

.card__channels {
  margin-top: 36px;
  padding-top: 176px;
}
.card__channels .card-channels--content {
  height: 40px;
  font-size: 0;
  margin-left: -6px;
  margin-right: -6px;
}
.card__channels .card-channels--content .card-channels--item {
  padding: 6px;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.card__channels
  .card-channels--content
  .card-channels--item
  .card-channels__item--content {
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  color: #000;
}

.flash-deals {
  padding-top: 24px;
}
.flash-deals .flash__deals--title {
  height: 38px;
  line-height: 38px;
}
.flash-deals .flash__deals--title h3 {
  font-size: 22px;
  color: #fff;
}
.flash__deals--content {
  background: #fff;
  border-top: #d5d5d5 1px solid;
  padding-top: 10px;
}
.flash__deals--container {
  font-size: 0;
  margin-left: -6px;
  margin-right: -6px;
}
.flash__deals--content .flash__deals--item {
  padding: 6px;
  display: inline-block;
  vertical-align: top;
  width: 16.666666%;
  font-size: 12px;
}
.flash__deals--item .flash__deals__item--content {
  display: block;
}
.flash__deals--item .flash__deals__item--content:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.flash__deals__item--image img {
  max-height: 188px;
  object-fit: cover;
}
.flash__deals__item--text {
  padding: 0 8px;
}
.flash__deals__item--title {
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  margin-bottom: 4px;
  font-size: 14px;
}
.flash__deals__item--price {
  margin-bottom: 4px;
  font-size: 18px;
  color: #f57224;
  letter-spacing: -0.56px;
  line-height: 22px;
  height: 22px;
}
.flash__deals__item--origin--price {
  height: 12px;
  line-height: 12px;
  margin-bottom: 4px;
}
.flash__deals__item--origin--price .origin-price {
  color: #9e9e9e;
  text-decoration: line-through;
}
.flash__deals__item--origin--price .discount {
  color: #212121;
  margin-left: 4px;
}
/* END */

.main__content--title {
  font-size: 22px;
  color: #424242;
}
/* LAZMALL */
.laz-mall {
  padding-top: 24px;
}
.laz__mall--container {
  font-size: 0;
  margin-left: -6px;
  margin-right: -6px;
}
.laz__mall--item {
  padding: 6px;
  display: inline-block;
  vertical-align: top;
  width: 16.666666%;
  font-size: 12px;
}
.laz__mall--item > a {
  background: #fff;
  display: block;
  position: relative;
}
.laz__mall--item > a:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.laz__mall__item--overlay {
  width: 188px;
  height: 36px;
  top: 152px;
  left: 0;
  position: absolute;
  opacity: 0.25;
  background: rgba(0, 0, 0, 0.04);
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.laz__mall__item--image img {
  max-height: 188px;
  object-fit: cover;
}
.laz__mall__item--shop--image {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 52px;
  height: 52px;
  background-color: #fff;
  padding: 4px;
  position: relative;
  margin: -25px auto 0;
  overflow: hidden;
}
.laz__mall__item--storename,
.laz__mall__item--storedesc {
  text-align: center;
}
.laz__mall__item--storename {
  font-size: 14px;
  color: #212121;
  line-height: 18px;
  margin: 8px 8px 4px;
}
.laz__mall__item--storedesc {
  font-size: 12px;
  line-height: 14px;
  color: #9e9e9e;
  margin: 0 8px;
}
/* END */
footer {
  background: #fff;
  height: 100px;
}
