@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular")
      format("svg");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  background: #fff;
  font-weight: 500;
  color: #959595;
  margin: 0;
  padding: 0;
  line-height: 2.1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "segoeuil", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
h2 {
  font-size: 3rem;
}
p,
pre,
blockquote,
ul,
ol {
  margin: 10px 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
  color: #f07c23;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.borderBlock {
  border: 1px solid #eee1d8;
}
.bold {
  font-weight: bold;
}
/* HEADER */
.primary-menu ul.ot-menu {
  text-align: center;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  z-index: 10;
}
.primary-menu ul.ot-menu > li > a {
  font-size: 17px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  text-transform: uppercase;
  color: #252525;
}

.primary-menu ul.sub-menu li a {
  color: #252525;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 0 1px;
  padding: 7px 20px;
  display: block;
}

.primary-menu ul > li:hover > a,
.primary-menu ul.ot-menu > li.active > a,
.primary-menu ul.sub-menu li:hover > a {
  color: #f07c23;
}

.primary-menu ul.sub-menu {
  top: 100%;
  left: 0;
  margin: 0;
  padding: 10px 0;
  background-color: #eee1d8;
  width: 200px;
  display: none;
}
.primary-menu ul > li:hover > ul.sub-menu {
  display: block;
}
.mobile-menu {
  color: #333333;
  font-size: 18px;
  right: 15px;
  top: -20px;
}
.mobile-menu:hover,
.mobile-menu:focus {
  color: #333333;
}
@media (min-width: 768px) {
  .primary-menu ul.ot-menu {
    background-color: transparent;
    text-align: left;
    display: flex;
    position: unset;
    height: 100%;
  }
  .primary-menu ul.ot-menu > li {
    display: block;
    padding: 0px 20px 30px;
    cursor: pointer;
  }
  .primary-menu ul.sub-menu > li {
    display: block;
    width: 100%;
  }
}

/* SLIDER */
.productslide .product-content {
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
}
.productslide .product-bg,
.productslide .product-img {
  width: 50%;
}
.productslide .product-bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.productslide .product-bg:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.productslide .product-bg .spacer {
  top: 42%;
  bottom: auto;
  left: 25%;
  right: 30%;
  padding: 5%;
  -webkit-transform: scale(0) translateY(-50%);
  -moz-transform: scale(0) translateY(-50%);
  -ms-transform: scale(0) translateY(-50%);
  -o-transform: scale(0) translateY(-50%);
  transform: scale(0) translateY(-50%);
  border-width: 5px 0 5px 5px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
  color: #e7e7e7;
}
.productslide .carousel-item.active .product-bg .spacer {
  -webkit-transform: scale(1) translateY(-50%);
  -moz-transform: scale(1) translateY(-50%);
  -ms-transform: scale(1) translateY(-50%);
  -o-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}
.productslide .product-bg .spacer:before,
.productslide .product-bg .spacer:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  height: 35%;
  border-right: 5px solid #ffffff;
}
.productslide .product-bg .spacer:after {
  top: auto;
  bottom: 0%;
}
.productslide .product-bg .spacer .product_name,
.productslide .product-bg .spacer .product_name a {
  color: #eeeeee;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}
.productslide .product-bg .spacer .price-value {
  font-size: 26px;
}
.productslide .product-bg .spacer .addtocart-area {
  opacity: 1;
  filter: alpha(opacity=1);
  display: inline-block;
  margin: 0 5px -5px;
}
.productslide .product-bg .spacer .addtocart-area a {
  padding: 7px 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #444444;
}
.productslide .product-bg .spacer .addtocart-area a:hover {
  text-decoration: none;
  color: #f07c23;
}
.productslide .product-img {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  text-align: center;
}
.productslide .carousel-item.active .product-img {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.productslide .product-img-i img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 99%;
  max-height: 99%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.productslide .carousel-nav {
  position: absolute;
  max-width: 69%;
  /* width: 69%;
	left: 28%; */
  right: 3%;
  bottom: 10%;
  height: 18%;
  margin: 0px;
  padding: 6px 35px;
}
.carousel-control.control-box {
  background-repeat: no-repeat !important;
  background-attachment: scroll;
  background-position: 50% 50%;
  padding: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}
.productslide .carousel-nav .carousel-control.control-box {
  background-color: rgba(255, 255, 255, 0.25);
  background-image: none;
  border: 1px solid #eee1d8;
  color: #eee1d8;
  padding: 6px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 50%;
}
.productslide .carousel-nav .carousel-control.left {
  left: 0;
}
.productslide .carousel-nav .carousel-control.right {
  right: 0;
}

.productslide .carousel-nav .carousel-indicators {
  position: static;
  width: auto;
  max-height: 100%;
  margin: 0px;
  align-items: center;
}
.carousel-indicators li.li_img {
  background-color: #ffffff;
  margin: 0 -2px;
  padding: 0;
  text-indent: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  width: auto;
  max-width: 19%;
  height: auto;
  border: 0 none;
  position: relative;
  cursor: pointer;
}
.carousel-indicators li:hover,
.carousel-indicators li.active {
  background-color: #f07c23;
}
.carousel-indicators li.li_img::before {
  content: none;
}
.carousel-indicators li.li_img.active:after,
.carousel-indicators li.li_img:hover:after {
  position: absolute;
  z-index: 1;
  content: "";
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/iconplus.png);
  background-color: rgba(240, 124, 35, 0.75);
  height: auto;
}

/* MAIN SECTION */
main section.top-block .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
main section.top-block.full-width .container {
  padding-top: 0;
  padding-bottom: 0;
}
main section .sect-heading h2 {
  margin: 0 0 20px;
  color: #f07c23;
  font-weight: bold;
}
main section.bottom-block .container {
  padding-top: 20px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  main section.bottom-block .container {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  main section.bottom-block .container {
    padding-top: 40px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  main section.bottom-block .container {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
/* ABOUT SECTION */
.ot-image-border {
  display: inline-block;
  position: relative;
  padding: 30px 0 0 20px;
  max-width: 100%;
}
.ot-image-border.ot-scroll-disappear {
  transform: translateX(100px) scale(0.95);
  -webkit-transform: translateX(100px) scale(0.95);
  -moz-transform: translateX(100px) scale(0.95);
  -ms-transform: translateX(100px) scale(0.95);
  -o-transform: translateX(100px) scale(0.95);
  opacity: 0;
  filter: alpha(opacity=0);
}
.ot-image-border img,
.ot-image-border:after {
  -webkit-transition: all 0.6s ease-out 0.1s;
  -moz-transition: all 0.6s ease-out 0.1s;
  transition: all 0.6s ease-out 0.1s;
}
.ot-image-border.ot-scroll-disappear img,
.ot-image-border.ot-scroll-disappear:after {
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  opacity: 0;
  filter: alpha(opacity=0);
}
.ot-image-border.ot-scroll-appear img,
.ot-image-border.ot-scroll-appear:after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
.ot-image-border:after {
  position: absolute;
  content: "";
  border: 5px solid;
  top: 15px;
  left: 10px;
  bottom: 15px;
  right: 10px;
  border-color: #eee1d8;
}
@media (min-width: 768px) {
  .custom-about .ot-image-border {
    padding: 45px 0 0 35px;
  }
  .custom-about .ot-image-border:after {
    bottom: 30px;
    right: 25px;
  }
}
@media (min-width: 992px) {
  .custom-about .ot-image-border {
    padding: 60px 0 0 50px;
  }
  .custom-about .ot-image-border:after {
    bottom: 45px;
    right: 40px;
  }
}
@media (min-width: 1200px) {
  .custom-about .ot-image-border {
    padding: 75px 0 0 65px;
  }
  .custom-about .ot-image-border:after {
    bottom: 60px;
    right: 55px;
  }
}

/* INTELLIGENT  SECTION */
section.intelligent {
  background-color: #eee1d8;
}
section.intelligent .custom-intelligent {
  padding: 30px;
}
.ot_info {
  padding: 30px;
}
@media (min-width: 1200px) {
  section.intelligent .custom-intelligent {
    padding: 10%;
  }
}

/* FEATURED PRODUCTS */
.featured-products ul.products li.product {
  width: 100%;
}
.featured-products ul.products li.product .spacer {
  position: relative;
  padding: 15px 0;
  margin: 15px 0;
  border-bottom: 6px solid #eee1d8;
}
.featured-products ul.products li.product .spacer:hover {
  border-bottom-color: #f07c23;
}
.featured-products ul.products li.product .product-price {
  font-size: 24px;
  color: #959595;
  line-height: 30px;
}
.featured-products ul.products li.product .product-name {
  font-size: 24px;
  padding: 0.5em 0;
  margin: 0;
}
.featured-products ul.products li.product .product-name a {
  color: #000000;
}
.featured-products ul.products li.product .product-name a:hover {
  color: #f07c23;
}
.featured-products ul.products li.product .spacer .addtocart-area {
  line-height: 20px;
  color: #f07c23;
  font-size: 13px;
  opacity: 0;
}
.featured-products ul.products li.product .spacer:hover .addtocart-area {
  opacity: 1;
}
@media (min-width: 1200px) {
  .featured-products ul.products li.product {
    width: 48%;
  }
}

/* UPCOMING SECTION */
section.upcoming {
  background-color: #f9f9f9;
}
