@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular")
      format("svg");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
  background: #fff;
  font-weight: 500;
  color: #959595;
  margin: 0;
  padding: 0;
  line-height: 2.1rem;
}
p,
pre,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 1.8rem;
}
p,
pre,
blockquote,
ul,
ol {
  margin: 10px 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a,
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #179bd7;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.form-control {
  font-size: 14px;
  height: 34px;
}
textarea.form-control {
  min-height: 100px;
}

.page-link {
  min-width: 30px;
  min-height: 30px;
  text-align: center;
}
/* BREADCRUMB */
.ot-breadcrumb {
  background-color: #f9f9f9;
}
.ot-breadcrumb-heading {
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 10px 20px 0px;
  margin: 0px 64px 0px 0px;
  position: relative;
  background-color: #179bd7;
  float: left;
}
.ot-breadcrumb-heading:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -1px;
  right: 0;
  width: 10000px;
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
  transform: skewX(-45deg);
  -webkit-transform-origin: 100% 100% 0;
  -moz-transform-origin: 100% 100% 0;
  -ms-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0px;
  background-color: #179bd7;
}
.ot-breadcrumb-heading span {
  position: relative;
}
.ot-breadcrumb-heading span:after {
  content: "";
  width: 40px;
  border-bottom: 2px solid;
  display: inline-block;
  margin: 6px 20px;
}

/* SECTION */
main .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* POSTS LIST */
.post-content .post-title,
.post-content .post-title a {
  color: #353535;
}
.post-content .post-info {
  color: #b3b3b3;
  font-size: 13px;
  font-style: italic;
  padding: 0 0 10px;
  margin: 0 0 10px;
}
.post-content .post-info li {
  display: inline-block;
}
.post-content .post-info li + li::before {
  content: "/";
  margin: 0 10px 0 0;
}
#comment-form .form-control {
  width: 100%;
  max-width: 900px;
}

.ot-btn,
.ot-btn:hover {
  color: #ffffff;
  padding: 7px 20px;
  border: 0px none;
  background-color: #179bd7;
  font-size: 14px;
  height: 34px;
}

.loading {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #dcdcdc;
  border-top-color: #282a35;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
