<div class="container">
  <div class="row top-footer">
    <div class="col-lg-4 mb-2 mb-lg-0">
      <div class="footer-title">
        <h3>About</h3>
      </div>
      <div class="footer-content">
        <p>
          We make beautiful, high quality goods that are designed especially for
          you. Discover our story and meet the people that make our brand what
          it is.
        </p>
      </div>
    </div>
    <div class="col-lg-2 mb-2 mb-lg-0">
      <div class="footer-title"><h3>Shop</h3></div>
      <div class="footer-content">
        <ul class="footer-menu">
          <li><a href="../collections.html?id=1">Dresses</a></li>
          <li><a href="../collections.html?id=2">Tops</a></li>
          <li><a href="../collections.html?id=3">Rompers & Playsuits</a></li>
          <li><a href="#">Everything</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 mb-2 mb-lg-0">
      <div class="footer-title"><h3>Information</h3></div>
      <div class="footer-content">
        <ul class="footer-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 mb-2 mb-lg-0">
      <div class="footer-title">
        <h3>Connect</h3>
      </div>
      <div class="footer-content">
        <p>Join our mailing list for updates</p>
        <div class="connect-form mt-2">
          <form action="">
            <div class="d-flex justify-content-center">
              <input
                type="email"
                class="form-control"
                id="email-connect"
                name="email"
                placeholder="Enter email address"
              />
              <button
                type="submit"
                class="btn btn-primary"
                id="connect-email-button"
              >
                Join
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center bottom-socials">
        <a href="#"><img src="images/icons/facebook.png" alt="" /></a>
        <a href="#"><img src="images/icons/instagram.png" alt="" /></a>
        <a href="#"><img src="images/icons/twitter.png" alt="" /></a>
        <a href="#"><img src="images/icons/linkedin.png" alt="" /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="copyright">Copyright @ 2021 Testament - Genesis</p>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end partners">
        <img src="../images/partners/visa.jpg" alt="" />
        <img src="../images/partners/mastercard.jpg" alt="" />
        <img src="../images/partners/american-express.jpg" alt="" />
        <img src="../images/partners/paypal.jpg" alt="" />
        <img src="../images/partners/diners-club.jpg" alt="" />
        <img src="../images/partners/discover.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
