<div class="top-header">
  <div class="container">
    <div class="row text-uppercase">
      <div class="col-sm-4">11</div>
      <div class="col-sm-4 text-center">FREE SHIPPING ON ORDERS OVER $199</div>
      <div class="col-sm-4 text-right">11</div>
    </div>
  </div>
</div>
<div class="logo text-center">
  <a href="../index.html">
    <img src="../images/logo.jpg" alt="" />
  </a>
</div>
<div class="primary-menu position-relative d-none d-md-block">
  <!-- <a
      class="position-absolute d-md-none mobile-menu"
      data-toggle="collapse"
      href="#menuCollapse"
      aria-expanded="false"
      aria-controls="menuCollapse"
      ></a> -->
  <ul class="nav justify-content-center">
    <li><a href="../index.html">Home</a></li>
    <li>
      <a href="#">Shop</a><img src="../images/icons/arrow-down.png" alt="" />
      <div class="sub-menu">
        <ul>
          <li><a href="../collections.html?id=1">Dresses</a></li>
          <li><a href="../collections.html?id=2">Tops</a></li>
          <li><a href="../collections.html?id=3">Rompers & Playsuits</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Blog</a></li>
    <li>
      <a href="#">About</a>
    </li>
  </ul>
</div>
