<ul class="nav justify-content-center">
  <li><a href="index.html">Home</a></li>
  <li>
    <a href="#">Shop</a><img src="images/icons/arrow-down.png" alt="" />
    <div class="sub-menu">
      <ul>
        <li><a href="collections.html?id=1">Dresses</a></li>
        <li><a href="collections.html?id=2">Tops</a></li>
        <li>
          <a href="collections.html?id=3">Rompers & Playsuits</a>
        </li>
      </ul>
    </div>
  </li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="#">Blog</a></li>
  <li>
    <a href="#">About</a>
  </li>
</ul>
