* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

body {
  background-color: grey;
}
#doing,
#complete,
#input {
  background-color: #ffffff;
  padding: 15px;
  width: 500px;
  margin: 20px auto;
  border-radius: 15px;
}
#doing span,
#complete span {
  cursor: pointer;
}
#input {
  position: relative;
}
input[type="text"] {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}
#input input[type="text"] {
  border: none;
}
#input input[type="text"]:focus {
  outline: none;
}
#add {
  padding: 0;
  border: none;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#add:focus {
  outline: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.popup-content {
  width: 90%;
  max-width: 500px;
  margin: 50px auto 30px auto;
  background: #ffffff;
  padding: 15px;
}
