* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display";
  font-size: 1.4rem;
  background: #fff;
  font-weight: 400;
  color: rgb(98, 98, 98);
  margin: 0;
  padding: 0;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin: 0 0 10px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.btn-rounded {
  border-radius: 50px !important;
}

.container {
  max-width: 1160px;
}

/* HEADER */
header {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.header {
  width: 100%;
}

.primary-menu ul > li > a {
  text-transform: uppercase;
  line-height: 2.4rem;
  padding: 0 60px;
}
.primary-menu ul > li > a:last-child {
  padding-right: 0;
}

/* MAIN CONTENT */
.main-content {
  padding-top: 100px;
}
.main-content section {
  margin-bottom: 120px;
}
.wrapper {
  max-width: calc(100% - 160px);
  width: 100%;
}

.list-post {
  margin-left: -30px;
  margin-right: -30px;
}
.post .category a,
.post .comment-button a {
  font-family: "Ubuntu";
  color: #b4ad9e;
}
.post .post-content .post-title a {
  font-size: 3rem;
}
.post .post-content p {
  line-height: 2.4rem;
}
.loadmore {
  margin-top: 45px;
  margin-bottom: 117px;
}
.loadmore .btn {
  font-size: 2rem;
  padding: 20px 34px;
  border: 1px solid #626262;
}

/* SIGN UP */
.signup {
  background-color: #f0f0f0;
  padding: 75px 0;
}

/* FOOTER */
footer {
  background-color: #f0f0f0;
  padding-top: 42px;
  padding-bottom: 32px;
}
.socials img {
  width: auto;
}
