* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display";
  font-size: 1.4rem;
  background: #fff;
  font-weight: 400;
  color: #626262;
  margin: 0;
  padding: 0;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display";
  line-height: 1;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin: 0 0 10px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.btn-rounded {
  border-radius: 50px !important;
}

.container {
  max-width: 1190px;
}

/* HEADER */
header {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.logo {
  font-size: 3rem;
}
.primary-menu ul {
  background-color: #b4ad9e;
  text-align: center;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  z-index: 10;
}
.primary-menu ul > li > a {
  text-transform: uppercase;
  display: block;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #333333;
}
.primary-menu ul > li:last-child > a {
  padding-right: 0;
  border-bottom: none;
}

.mobile-menu {
  color: #333333;
  font-size: 18px;
  right: 15px;
  top: -20px;
}
.mobile-menu:hover,
.mobile-menu:focus {
  color: #333333;
}

@media (min-width: 768px) {
  header {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .primary-menu ul {
    background-color: transparent;
    text-align: left;
    display: flex;
    position: unset;
  }
  .primary-menu ul > li > a {
    padding: 0 60px;
    line-height: 2.4rem;
    color: inherit;
    border: none;
  }
}

/* MAIN CONTENT */
.main-content {
  padding-top: 5rem;
}
.latest-post {
  margin-bottom: 60px;
}
.list-post {
  margin-left: -15px;
  margin-right: -15px;
}
.list-post .post {
  margin-bottom: 30px;
}
.post .category a,
.post .comment-button a {
  font-family: "Ubuntu";
  color: #b4ad9e;
}
.post .post-content .post-title a {
  font-size: 3rem;
}
.post .post-content p {
  line-height: 2.4rem;
}
.loadmore {
  margin-top: 30px;
  margin-bottom: 60px;
}
.loadmore .btn {
  font-size: 1.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #626262;
}

@media (min-width: 768px) {
  .main-content {
    padding-top: 10rem;
  }

  .wrapper {
    max-width: calc(100% - 160px);
  }
  .main-content section {
    margin-bottom: 120px;
  }
  .list-post .post {
    width: calc(50% - 30px);
    margin-bottom: 120px;
  }
  .loadmore {
    margin-top: 45px;
    margin-bottom: 120px;
  }
  .loadmore .btn {
    font-size: 2rem;
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

/* SIGN UP */
.signup {
  background-color: #f0f0f0;
  padding: 75px 0;
}
.signup .signup-heading {
  letter-spacing: 1px;
}
.signup-form {
  width: 100%;
  max-width: 400px;
}
.signup-form input[type="email"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  color: #626262;
  display: block;
  font-size: 14px;
  margin-top: 75px;
  padding: 7px 3px;
  width: 100%;
}
.signup-form input[type="email"]:focus {
  outline: none;
}
.signup-form button {
  border: none;
  top: 7.5px;
  right: 0;
}

/* POST PAGE */
.post-page .post-content .category-name a {
  font-family: "Ubuntu";
  font-size: 1.4rem;
  color: #b4ad9e;
}
.post-page .post-content .post-title {
  font-size: 3rem;
}
.post-page .post-content p {
  line-height: 2.4rem;
}
.post-page .post-content .share-post {
  color: #b4ad9e;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 30px;
}
.post-page .related-posts {
  background-color: #f5f5f5;
  padding: 40px 0;
}
.post-page .related-posts .related-post .title {
  font-size: 2rem;
  margin-top: 2rem;
}
.post-comments .profile-image {
  width: 70px;
}
.post-comments .profile-image .user-noimage {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 34px;
  color: #fff;
  background-color: #cae5e0;
}
.post-comments .profile-image .user-noimage.discuss {
  background-color: #ededea;
}
.post-comments .comment-details {
  width: calc(100% - 105px);
}
.post-comments .comment-details textarea {
  text-transform: uppercase;
  width: 100%;
  padding: 23px 33px 15px 33px;
  border: 1px solid #c8c8c8;
  color: #c8c8c8;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
}
.post-comments .comment-details .comment-connect {
  margin-top: 30px;
}
.right-sidebar .module {
  margin-bottom: 30px;
}
.right-sidebar .module .module-title h3,
.post-page .related-posts h3,
.post-comments .total-comments,
.post-comments .comment-details .reply-button {
  font-family: "Ubuntu";
  font-size: 1.4rem;
  color: #b4ad9e;
  margin-bottom: 35px;
}
.right-sidebar .module .module-content h3 {
  font-size: 2.4rem;
}
.right-sidebar .module .module-content p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.right-sidebar .module.latest-posts ul {
  list-style: disc;
  padding-left: 20px;
}
.right-sidebar .module.latest-posts ul li a {
  font-size: 1.6rem;
}
.right-sidebar .module.latest-posts ul li .count-comment {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  color: #b4ad9e;
}

@media (min-width: 768px) {
  .post-page.side-bar .post-content {
    width: calc(100% - 300px);
  }
  .post-page .post-content .share-post {
    margin-top: 70px;
  }
  .post-page .related-posts {
    padding: 70px 0;
  }
  .post-page .related-posts .related-post {
    width: calc((100% - 80px) / 3);
  }
  .comment-connect {
    margin-top: 40px;
  }
  .post-page.side-bar .right-sidebar {
    width: 250px;
  }
  .right-sidebar .module {
    margin-bottom: 70px;
  }
  .right-sidebar .module .module-title h3 {
    margin-bottom: 30px;
  }
}

/* FOOTER */
footer {
  background-color: #f0f0f0;
  padding-top: 42px;
  padding-bottom: 32px;
}
.social-link img {
  width: auto;
}
