* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  font-size: 2rem;
  background: #fff;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.container {
  max-width: 1310px;
}

/* HEADER */
header {
  background-image: linear-gradient(to right, #ffd200, #f7971e);
  color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
}

.logo a {
  font-family: Rubik;
  font-size: 24px;
  line-height: 28px;
}
.primary-menu ul {
  background-color: #b4ad9e;
  text-align: center;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  z-index: 10;
}
.primary-menu ul > li > a,
.foo-menu ul > li > a {
  display: block;
  color: #fff;
  margin-left: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0509971px;
}

.mobile-menu {
  color: #333333;
  font-size: 18px;
  right: 15px;
  top: -20px;
}
.mobile-menu:hover,
.mobile-menu:focus {
  color: #333333;
}
@media (min-width: 768px) {
  .row.header {
    margin-left: -50px;
    margin-right: -50px;
  }
  .primary-menu ul {
    background-color: transparent;
    text-align: left;
    display: flex;
    position: unset;
  }
  .primary-menu ul > li:last-child > a {
    margin-left: 25px;
    padding: 13px 30px;
    color: #757575;
    font-size: 13px;
    line-height: 19px;
    background: #deff06;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.127264);
  }
}

/* FIND CAR SECTION */
.find-car {
  margin-bottom: -170px;
}
.find-car h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 1.12px;
}
.find-car p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.search-form {
  max-width: 590px;
}
form#search-car select {
  appearance: none;
}
form#search-car input[type="text"],
form#search-car select,
form#search-car button[type="submit"] {
  height: 50px;
  color: #757575;
  font-size: 13px;
  line-height: 19px;
  border: none;
  padding-left: 20px;
}
form#search-car input[type="text"] {
  width: calc(100% - 280px);
}
form#search-car select,
form#search-car button[type="submit"] {
  width: 140px;
  border-left: 1px solid #979797;
}
form#search-car button[type="submit"] {
  text-align: center;
  padding-left: 0;
  background: #deff06;
}

@media (min-width: 768px) {
  .find-car {
    margin-bottom: -170px;
    margin-top: 120px;
  }
  .find-car h1 {
    font-size: 54px;
    line-height: 81px;
  }
}

/* MAIN SECTION CSS */
main section {
  padding-bottom: 40px;
  padding-bottom: 40px;
}
main section:first-child {
  padding-top: 200px;
}
main section .sect-heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  opacity: 0.8;
}
main section.signup .sect-heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
}
main section .sect-subtext {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #696969;
  opacity: 0.5;
}
main section.signup .sect-subtext {
  color: #ffffff;
}
main section .sect-loadmore-btn a {
  padding: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background: #f5a623;
  min-width: 228px;
}
/* HOT DEALS SECTION */
.hotdeals-list {
  margin-top: 60px;
}
.hotdeals-list .hotdeal-item {
  width: calc((100% - 27px) / 2);
  margin-bottom: 30px;
}

.hotdeals-list .hotdeal-item .item-info {
  padding-right: 8px;
}
.hotdeals-list .hotdeal-item .car-image {
  padding: 20px 20px 20px 38px;
  border-radius: 4px;
  background: rgba(227, 227, 227, 0.732139);
}
.hotdeals-list .hotdeal-item .item-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
.hotdeals-list .hotdeal-item .price-tag {
  background: url(../images/cars/price-tag.png) top left;
  font-weight: 600;
  font-size: 15px;
  line-height: 44px;
  width: 84px;
  height: 44px;
  color: #fff;
  top: 26px;
  right: 1px;
}

@media (min-width: 768px) {
  .hotdeals-list .hotdeal-item {
    width: calc((100% - 54px) / 4);
    margin-bottom: 40px;
  }
  .hotdeals-list .hotdeal-item .item-name {
    font-size: 24px;
    line-height: 36px;
  }
}

/* TIPS SECTION */
.buying-tips .tips-list {
  margin-top: 50px;
}
.buying-tips .tips-list .tip-item {
  width: 100%;
  padding: 0 9px;
}
.buying-tips .tips-list .tip-item .tip-title {
  left: 0;
  right: 0;
  bottom: 17px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .buying-tips .tips-list .tip-item {
    width: calc((100% - 38px) / 3);
  }
}

/* SIGNUP SECTION */
section.signup {
  background-image: linear-gradient(to right, #ffd200, #f7971e);
  padding-top: 70px;
}
.signup-form {
  max-width: 590px;
  margin-top: 40px;
  margin-bottom: 40px;
}
form#signup-form input[type="email"],
form#signup-form button[type="submit"] {
  height: 50px;
  color: #757575;
  font-size: 13px;
  line-height: 19px;
  border: none;
  padding-left: 20px;
}
form#signup-form input[type="email"] {
  width: calc(100% - 140px);
}
form#signup-form button[type="submit"] {
  width: 140px;
  text-align: center;
  padding-left: 0;
  background: #deff06;
}

/* FOOTER */
footer {
  background: #342c2c;
  color: #ffffff;
  padding-top: 34px;
  padding-bottom: 34px;
}
.foo-menu ul > li > a {
  display: block;
  color: #fff;
  margin-left: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0509971px;
}
.foo-menu ul > li:first-child > a {
  margin-left: 0;
}
