$main-family: "Karla", sans-serif;
$text-size: 1.6rem;
$text-weight: 500;
$text-color: #000000;
$link-color: #000000;

$main-background: #b79e8c;

$nav-color: #fff;
$nav-hover-color: #000;
$nav-background-color: #000000;
$nav-hover-link-color: #ffffff;
$nav-border-color: #000;
$dropdown-background-color: #ffffff;
$dropdown-link-color: #000000;
$dropdown-link-hover-color: #796b62;
$dropdown-min-width: 220px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font: {
    family: $main-family;
    size: $text-size;
    weight: $text-weight;
  }
  background: #fff;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
pre,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
  color: $link-color;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  object-fit: cover;
  transition: transform 7s cubic-bezier(0.25, 0.5, 0.8, 0.65);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* HEADER */
header {
  .top-header {
    background-color: $main-background;
    color: #fff;
    line-height: 48px;
  }
  .logo {
    padding: 10px 0;
  }
  .primary-menu {
    background-color: $nav-background-color;
    ul.nav {
      & > li {
        padding: 0 20px;
        position: relative;
        & > a {
          color: $nav-color;
          display: inline-block;
          line-height: 60px;
        }
        & > img {
          margin-left: 10px;
        }
        .sub-menu {
          display: none;
          position: absolute;
          left: 0;
          top: 60px;
          min-width: $dropdown-min-width;
          z-index: 10;
          padding: 10px;
          background-color: $dropdown-background-color;
        }
        &:hover .sub-menu {
          display: block;
        }
      }
    }
  }
}

/* MAIN BANNER */
.main-banner {
  .carousel-caption {
    top: 15%;
    left: 10%;
    right: auto;
    bottom: auto;
    color: #fff;
    text-align: left;
    max-width: 460px;
    h1.caption-title {
      font-size: 96px;
      line-height: 85px;
      letter-spacing: -2px;
    }
    p.caption-text {
      font: {
        size: 24px;
        weight: 400;
      }
    }
    a {
      padding: 16px 32px;
      border-radius: 100px;
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
    }
  }
}

main {
  section {
    padding-bottom: 30px;
    .section-title {
      margin-top: 25px;
      margin-bottom: 25px;
      h2 {
        font-size: 24px;
        line-height: 24px;
      }
    }
    .section-pretext {
      max-width: 50%;
    }
  }
}

.top-collections {
  .item {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.33) 100%
    );
    overflow: hidden;
    .item-title {
      color: #fff;
      font-size: 36px;
      left: 15px;
      bottom: 42px;
      max-width: 200px;
    }
    // img {
    //   transition: transform 7s cubic-bezier(0.25, 0.5, 0.8, 0.65);
    // }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.new-arrivals {
  .product-content {
    .product-info {
      padding: 8px 10px;
      border: 1px solid #e1e1e1;
      .product-title {
        a {
          font-size: 22px;
          font-weight: bold;
        }
        margin-bottom: 8px;
      }
      .product-price {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .product-color {
        min-height: 40px;
        .color-item {
          width: 18px;
          height: 18px;
          display: inline-block;
          border-radius: 50%;
          span {
            width: 18px;
            height: 18px;
            display: inline-block;
            border-radius: 50%;
            background-position: center center;
            border: 1px solid #dddddd;
          }
        }
        .color-item + .color-item {
          margin-left: 10px;
        }
        .color-item.active {
          width: 28px;
          height: 28px;
          border: 1px solid #000;
          span {
            border: none;
          }
        }
      }
    }
  }
}

.explore-collections {
  .first-line {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
  .second-line {
    @media screen and (min-width: 768px) {
      width: calc(100% / 3);
    }
    h3 {
      font-size: 48px;
    }
    p {
      color: #858585;
      line-height: 24px;
    }
    a {
      text-decoration: underline;
      line-height: 24px;
    }
  }
}

.latest-blogs {
  .blog-item {
    .blog-info {
      margin-top: 50px;
      margin-bottom: 25px;
      .blog-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
      }
      p {
        line-height: 24px;
      }
    }
  }
}
