$main-family: "Karla", sans-serif;
$text-size: 16px;
$text-weight: 500;
$text-color: #000000;
$link-color: #000000;
$dotted-color: #cccccc;

$h2-size: 24px;

$main-background: #b79e8c;

$nav-color: #fff;
$nav-hover-color: #000;
$nav-background-color: #000000;
$nav-hover-link-color: #ffffff;
$nav-border-color: #000;
$dropdown-background-color: #ffffff;
$dropdown-link-color: #000000;
$dropdown-link-hover-color: #796b62;
$dropdown-min-width: 220px;

$form-input-border: #cccccc;
$form-button-background-color: #b79e8c;
$form-button-color: #ffffff;

$footer-background-color: #000;
$footer-color: #ffffff;
$footer-title-size: 20px;
$footer-link-hover-color: #796b62;
$footer-form-button-background-color: #000;
$footer-form-button-hover-border: #b79e8c;
$footer-form-button-hover-color: #b79e8c;

$page-title-size: 28px;

@media screen and (max-width: 767px) {
  $text-size: calc(16px - (16px * 0.15));
  $h2-size: calc(24px - (24px * 0.15));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font: {
    family: $main-family;
    size: $text-size;
    weight: $text-weight;
  }
  background: #fff;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
pre,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
  color: $link-color;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  object-fit: cover;
  transition: transform 7s cubic-bezier(0.25, 0.5, 0.8, 0.65);
}

.form-control {
  height: 50px;
  border: 1px solid $form-input-border;
  padding-left: 15px;
  font-size: 16px;
}

.collapse.show {
  display: block !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* HEADER */
header {
  .top-header {
    background-color: $main-background;
    color: #fff;
    line-height: 48px;
    .top-socials {
      // height: 48px;
      gap: 10px;
    }
    .cart-count {
      font-size: 14px;
    }
  }
  .logo {
    padding: 10px 0;
  }
  .mobile-logo {
    padding: 10px 0;
    height: 70px;
    background: #ffffff;
    .cart-count {
      color: $main-background;
      font-size: 14px;
    }
  }
  .primary-menu {
    background-color: $nav-background-color;
    ul.nav {
      & > li {
        padding: 0 20px;
        position: relative;
        & > a {
          color: $nav-color;
          display: inline-block;
          line-height: 60px;
        }
        & > img {
          margin-left: 10px;
        }
        .sub-menu {
          display: none;
          position: absolute;
          left: 0;
          top: 60px;
          min-width: $dropdown-min-width;
          z-index: 10;
          padding: 10px;
          background-color: $dropdown-background-color;
          ul li {
            a {
              line-height: 34px;
              display: block;
              color: $dropdown-link-color;
              &:hover {
                color: $dropdown-link-hover-color;
              }
            }
          }
        }
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
    }
  }
  .fixed-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
  }
}

/* MAIN BANNER */
main {
  padding-bottom: 30px;
  @media screen and (min-width: 992px) {
    padding-bottom: 50px;
  }
}
.main-banner {
  .carousel-caption {
    top: 15%;
    left: 10%;
    right: auto;
    bottom: auto;
    color: #fff;
    text-align: left;
    max-width: 400px;
    @media screen and (min-width: 992px) {
      max-width: 460px;
    }
    h1.caption-title {
      font-size: 60px;
      line-height: 60px;
      letter-spacing: -2px;
      @media screen and (min-width: 992px) {
        font-size: 75px;
        line-height: 78px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 96px;
        line-height: 85px;
      }
    }
    p.caption-text {
      font: {
        size: 20px;
        weight: 400;
      }
      @media screen and (min-width: 992px) {
        font-size: 24px;
      }
    }
    a {
      padding: 16px 32px;
      border-radius: 100px;
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
    }
  }
}

main {
  section {
    padding-bottom: 30px;
    .section-title {
      margin-top: 25px;
      margin-bottom: 25px;
      h2 {
        font-size: $h2-size;
        line-height: $h2-size;
      }
    }
    .section-pretext {
      max-width: 50%;
    }
  }
}

.top-collections {
  .item {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.33) 100%
    );
    overflow: hidden;
    .item-title {
      color: #fff;
      font-size: 24px;
      left: 10px;
      bottom: 15px;
      max-width: 200px;
      @media screen and (min-width: 992px) {
        font-size: 36px;
        left: 15px;
        bottom: 20px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 30px;
        left: 15px;
        bottom: 42px;
      }
      a {
        color: #fff;
      }
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.new-arrivals {
  .product-content {
    .product-info {
      padding: 8px 10px;
      border: 1px solid #e1e1e1;
      .product-title {
        a {
          font-size: 22px;
          font-weight: bold;
        }
        margin-bottom: 8px;
      }
      .product-price {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .product-color {
        min-height: 40px;
        .color-item {
          width: 18px;
          height: 18px;
          display: inline-block;
          border-radius: 50%;
          span {
            width: 18px;
            height: 18px;
            display: inline-block;
            border-radius: 50%;
            background-position: center center;
            border: 1px solid #dddddd;
          }
        }
        .color-item + .color-item {
          margin-left: 10px;
        }
        .color-item.active {
          width: 28px;
          height: 28px;
          border: 1px solid #000;
          span {
            border: none;
          }
        }
      }
    }
  }
}

.explore-collections {
  .first-line {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
  .second-line {
    @media screen and (min-width: 768px) {
      width: calc(100% / 3);
    }
    h3 {
      font-size: 18px;
      @media screen and (min-width: 992px) {
        font-size: 30px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 48px;
      }
    }
    p {
      color: #858585;
      line-height: 24px;
    }
    a {
      text-decoration: underline;
      line-height: 24px;
    }
  }
}

.latest-blogs {
  .blog-item {
    .blog-info {
      margin-top: 50px;
      margin-bottom: 25px;
      .blog-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
      }
      p {
        line-height: 24px;
      }
    }
  }
}

.subcribe-email {
  .subcribe-form {
    #email-subcribe {
      width: calc(100% - 180px);
    }
    #subcribe-email-button {
      text-align: center;
      width: 120px;
      color: $form-button-color;
      background-color: $form-button-background-color;
      height: 50px;
      border: none;
      font-size: 16px;
      @media screen and (min-width: 992px) {
        width: 150px;
      }
      @media screen and (min-width: 1200px) {
        width: 180px;
      }
    }
  }
  .subcribe-socials {
    gap: 26px;
  }
}

/* FOOTER */
footer {
  background-color: $footer-background-color;
  color: $footer-color;
  padding-top: 60px;
  padding-bottom: 30px;
  .footer-title h3 {
    font-size: $footer-title-size;
    margin-bottom: 10px;
  }
  .top-footer {
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 90px;
    }
    .footer-menu {
      li {
        a {
          color: $footer-color;
          line-height: 32px;
          &:hover {
            color: $footer-link-hover-color;
          }
        }
      }
    }
    .connect-form {
      #email-connect {
        width: calc(100% - 90px);
      }
      #connect-email-button {
        text-align: center;
        width: 150px;
        color: $form-button-color;
        background-color: $footer-form-button-background-color;
        border: 1px solid transparent;
        height: 50px;
        font-size: 16px;
        @media screen and (min-width: 992px) {
          width: 90px;
        }
        &:hover {
          // border-color: $footer-form-button-hover-border;
          color: $footer-form-button-hover-color;
        }
      }
    }
  }
  .bottom-socials {
    gap: 10px;
    margin-bottom: 20px;
  }
  .copyright {
    line-height: 24px;
  }
  .partners {
    gap: 5px;
  }
}

.ot-breadcrumb {
  background: none;
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 0;
}

.page-title {
  text-align: center;
  h3 {
    font-size: $page-title-size;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
}

.left-sidebar {
  #left-sidebar-content {
    display: none;
    margin-bottom: 20px;
    @media screen and (min-width: 992px) {
      display: block;
    }
  }
  .mobile-refine {
    padding: 8px 0;
    border: 1px solid $dotted-color;
    margin-bottom: 20px;
  }
}

.collection-products {
  .products-list {
    @extend .new-arrivals;
  }
}
.list-collections {
  @extend .top-collections;
  background: #eddfd4;
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
