* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
pre,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h4 {
  font-size: calc(var($text-size) + 2px);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  object-fit: cover;
  transition: transform 7s cubic-bezier(0.25, 0.5, 0.8, 0.65);
}

input.form-control {
  height: 50px;
  border: 1px solid #cccccc;
  padding-left: 15px;
  font-size: 16px;
}

select.form-control {
  border: 1px solid #dddddd;
  border-radius: 1px;
  height: 48px !important;
  line-height: 46px;
  font-size: 16px;
  padding: 0 10px;
}

.stopScrolling {
  height: 100%;
  overflow: hidden;
}

.collapse.show,
.showMenu {
  display: block !important;
}

.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

.icon-close {
  width: 20px;
  height: 20px;
  position: relative;
}
.icon-close:before {
  content: "";
  height: 20px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(-45deg);
  left: 8px;
}
.icon-close:after {
  content: "";
  height: 20px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(45deg);
  left: 8px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* HEADER */
header .top-header {
  background-color: #b79e8c;
  color: #fff;
  line-height: 48px;
}
header .top-header .top-socials {
  gap: 10px;
}
header .top-header .cart-count {
  font-size: 14px;
}
header .logo {
  padding: 10px 0;
}
header .mobile-logo {
  padding: 10px 0;
  height: 70px;
  background: #ffffff;
}
header .mobile-logo .cart-count {
  color: #b79e8c;
  font-size: 14px;
}
header .primary-menu {
  background-color: #000000;
}
header .primary-menu ul.nav > li {
  padding: 0 20px;
  position: relative;
}
header .primary-menu ul.nav > li > a {
  color: #fff;
  display: inline-block;
  line-height: 60px;
}
header .primary-menu ul.nav > li > img {
  margin-left: 10px;
}
header .primary-menu ul.nav > li .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  min-width: 220px;
  z-index: 99;
  padding: 10px;
  background-color: #ffffff;
}
header .primary-menu ul.nav > li .sub-menu ul li a {
  line-height: 34px;
  display: block;
  color: #000000;
}
header .primary-menu ul.nav > li .sub-menu ul li a:hover {
  color: #796b62;
}
header .primary-menu ul.nav > li:hover .sub-menu {
  display: block;
}

#slideout-mobile-navigation {
  display: none;
}
#slideout-mobile-navigation .slideout-mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background: #1e1e1e;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0.8;
}
#slideout-mobile-navigation .slideout-mobile-content {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 285px;
  background: #ffffff;
  padding: 0 10px;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  #slideout-mobile-navigation .slideout-mobile-content {
    width: 350px;
  }
}
#slideout-mobile-navigation .slideout-mobile-content .close-navigation {
  padding: 15px 10px 15px 10px;
  color: #000000;
  line-height: 50px;
  height: 50px;
}
#slideout-mobile-navigation .slideout-mobile-content .mobile-menu ul.nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #000000;
}
#slideout-mobile-navigation .slideout-mobile-content .mobile-menu ul.nav li a {
  font-size: calc(16px - (16px * 0.15));
}
#slideout-mobile-navigation .slideout-mobile-content .mobile-menu ul.nav li .arrow-down {
  padding-left: 10px;
  padding-right: 10px;
  height: 22px;
}
#slideout-mobile-navigation .slideout-mobile-content .mobile-menu ul.nav li.sub-menu {
  padding-left: 10px;
  padding-bottom: 20px;
  border: none;
}
#slideout-mobile-navigation .slideout-mobile-content .mobile-menu ul.nav li.sub-menu ul {
  width: 100%;
}

/* MAIN BANNER */
main {
  padding-bottom: 30px;
}
@media screen and (min-width: 992px) {
  main {
    padding-bottom: 50px;
  }
}

.content-banner .carousel-caption, .main-banner .carousel-caption {
  top: 30%;
  left: 10%;
  right: auto;
  bottom: auto;
  color: #fff;
  text-align: left;
  padding: 0;
  max-width: 400px;
}
@media screen and (min-width: 992px) {
  .content-banner .carousel-caption, .main-banner .carousel-caption {
    max-width: 460px;
  }
}
.content-banner .carousel-caption h1.caption-title, .main-banner .carousel-caption h1.caption-title {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -2px;
}
@media screen and (min-width: 576px) {
  .content-banner .carousel-caption h1.caption-title, .main-banner .carousel-caption h1.caption-title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 992px) {
  .content-banner .carousel-caption h1.caption-title, .main-banner .carousel-caption h1.caption-title {
    font-size: 75px;
    line-height: 78px;
  }
}
@media screen and (min-width: 1200px) {
  .content-banner .carousel-caption h1.caption-title, .main-banner .carousel-caption h1.caption-title {
    font-size: 96px;
    line-height: 85px;
  }
}
.content-banner .carousel-caption p.caption-text, .main-banner .carousel-caption p.caption-text {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  .content-banner .carousel-caption p.caption-text, .main-banner .carousel-caption p.caption-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .content-banner .carousel-caption p.caption-text, .main-banner .carousel-caption p.caption-text {
    font-size: 24px;
  }
}
.content-banner .carousel-caption a, .main-banner .carousel-caption a {
  padding: 16px 32px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .main-banner .carousel-caption {
    position: unset;
    max-width: 100%;
    background: #b79e8c;
    text-align: center;
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .main-banner .carousel-caption h1.caption-title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 767px) {
  .main-banner .carousel-caption p.caption-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .main-banner .carousel-caption a {
    padding: 10px 20px;
  }
}

main section {
  padding-bottom: 30px;
}
main section .section-title {
  margin-top: 25px;
  margin-bottom: 25px;
}
main section .section-title h2 {
  font-size: 24px;
  line-height: 24px;
}
main section .section-pretext {
  max-width: 50%;
}

.top-collections .item, .list-collections .item {
  overflow: hidden;
}
.top-collections .item .item-overlay, .list-collections .item .item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.33) 100%);
  opacity: 0.2;
  z-index: 9;
}
.top-collections .item .item-title, .list-collections .item .item-title {
  color: #fff;
  font-size: 24px;
  left: 10px;
  bottom: 15px;
  max-width: 100%;
  z-index: 10;
}
@media screen and (min-width: 992px) {
  .top-collections .item .item-title, .list-collections .item .item-title {
    font-size: 36px;
    left: 15px;
    bottom: 20px;
    max-width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .top-collections .item .item-title, .list-collections .item .item-title {
    font-size: 30px;
    left: 15px;
    bottom: 42px;
  }
}
.top-collections .item .item-title a, .list-collections .item .item-title a {
  color: #fff;
}
.top-collections .item:hover img, .list-collections .item:hover img {
  transform: scale(1.2);
}

.new-arrivals .product {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.new-arrivals .product .product-content {
  position: relative;
}
.new-arrivals .product .product-content .icn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: opacity 1s ease-out;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-arrivals .product .product-content .icn.sold-out-icn {
  background: #000000;
}
.new-arrivals .product .product-content .icn.sale-icn {
  background: #c60808;
}
.new-arrivals .product .product-content .product-info {
  padding: 8px 10px;
  border: 1px solid #e1e1e1;
}
.new-arrivals .product .product-content .product-info .product-title {
  margin-bottom: 8px;
}
.new-arrivals .product .product-content .product-info .product-title a {
  font-size: 22px;
  font-weight: bold;
}
.new-arrivals .product .product-content .product-info .product-price .price-item {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.new-arrivals .product .product-content .product-info .product-price .price-item.price-item--sale {
  color: #c60808;
}
.new-arrivals .product .product-content .product-info .product-price .price-item.price-item--compare {
  text-decoration: line-through;
}
.new-arrivals .product .product-content .product-info .product-color {
  min-height: 40px;
}
.new-arrivals .slick-arrow {
  position: absolute;
  top: 50%;
  background: #ffffff;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
}
.new-arrivals .slick-arrow:focus {
  outline: none;
}
.new-arrivals .slick-arrow.slick-prev {
  left: -50px;
}
.new-arrivals .slick-arrow.slick-next {
  right: -50px;
}

@media screen and (max-width: 767px) {
  .explore-collections .explore-collections-content {
    overflow-x: scroll;
  }
}
@media screen and (min-width: 768px) {
  .explore-collections .explore-collections-content .first-line {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .explore-collections .explore-collections-content .second-line {
    width: calc(100% / 3);
  }
}
.explore-collections .explore-collections-content .second-line h3 {
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .explore-collections .explore-collections-content .second-line h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .explore-collections .explore-collections-content .second-line h3 {
    font-size: 48px;
  }
}
.explore-collections .explore-collections-content .second-line p {
  color: #858585;
  line-height: 24px;
}
.explore-collections .explore-collections-content .second-line a {
  text-decoration: underline;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .explore-collections .explore-collections-content .item {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .explore-collections .explore-collections-content div.item {
    min-width: 200px;
  }
}

.latest-blogs .row {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .latest-blogs .row {
    gap: 50px;
  }
}
.latest-blogs .blog-item .blog-info {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .latest-blogs .blog-item .blog-info {
    margin-top: 50px;
  }
}
.latest-blogs .blog-item .blog-info .blog-title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.latest-blogs .blog-item .blog-info p {
  line-height: 24px;
}

.subcribe-email .subcribe-form #email-subcribe {
  width: calc(100% - 180px);
}
.subcribe-email .subcribe-form #subcribe-email-button {
  text-align: center;
  width: 120px;
  color: #ffffff;
  background-color: #b79e8c;
  height: 50px;
  border: none;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .subcribe-email .subcribe-form #subcribe-email-button {
    width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .subcribe-email .subcribe-form #subcribe-email-button {
    width: 180px;
  }
}
.subcribe-email .subcribe-socials {
  gap: 26px;
}

/* FOOTER */
footer {
  background-color: #000;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 30px;
}
footer .footer-title h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
footer .top-footer .footer-menu li a {
  color: #ffffff;
  line-height: 32px;
}
footer .top-footer .footer-menu li a:hover {
  color: #796b62;
}
footer .top-footer .connect-form #email-connect {
  width: calc(100% - 90px);
}
footer .top-footer .connect-form #connect-email-button {
  text-align: center;
  width: 150px;
  color: #ffffff;
  background-color: #000;
  border: 1px solid transparent;
  height: 50px;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  footer .top-footer .connect-form #connect-email-button {
    width: 90px;
  }
}
footer .top-footer .connect-form #connect-email-button:hover {
  color: #b79e8c;
}
footer .bottom-footer {
  margin-top: 64px;
  padding-top: 32px;
}
@media screen and (max-width: 767px) {
  footer .bottom-footer .footer-left {
    margin-top: 30px;
  }
}
footer .bottom-footer .footer-left .bottom-socials {
  gap: 10px;
  margin-bottom: 20px;
}
footer .bottom-footer .footer-left .copyright {
  margin-top: 21px;
}
footer .bottom-footer .footer-right .partners {
  gap: 5px;
}

.ot-breadcrumb {
  background: none;
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 0;
}

.page-title {
  text-align: center;
}
.page-title h3 {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .page-title h3 {
    margin-bottom: 60px;
  }
}

.left-sidebar #left-sidebar-content {
  display: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .left-sidebar #left-sidebar-content {
    display: block;
  }
}
.left-sidebar #left-sidebar-content .sidebar-module {
  margin-bottom: 30px;
}
.left-sidebar #left-sidebar-content .sidebar-module .module-title {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
.left-sidebar .mobile-refine {
  padding: 8px 0;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
}

.color-icn {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
}
.color-icn span {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  background-position: center center;
  border: 1px solid #dddddd;
}

.color-icn + .color-icn {
  margin-left: 10px;
}

.color-icn.active {
  width: 28px;
  height: 28px;
  border: 1px solid #000;
}
.color-icn.active span {
  border: none;
}

.collection-products .products-list .product-content {
  position: relative;
}
.collection-products .products-list .product-content .icn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: opacity 1s ease-out;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-products .products-list .product-content .icn.sold-out-icn {
  background: #000000;
}
.collection-products .products-list .product-content .icn.sale-icn {
  background: #c60808;
}
.collection-products .products-list .product-content .product-info {
  padding: 8px 10px;
  border: 1px solid #e1e1e1;
}
.collection-products .products-list .product-content .product-info .product-title {
  margin-bottom: 8px;
}
.collection-products .products-list .product-content .product-info .product-title a {
  font-size: 22px;
  font-weight: bold;
}
.collection-products .products-list .product-content .product-info .product-price .price-item {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.collection-products .products-list .product-content .product-info .product-price .price-item.price-item--sale {
  color: #c60808;
}
.collection-products .products-list .product-content .product-info .product-price .price-item.price-item--compare {
  text-decoration: line-through;
}
.collection-products .products-list .product-content .product-info .product-color {
  min-height: 40px;
}

.list-collections {
  background: #eddfd4;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .list-collections {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
