$main-family: "Karla", sans-serif;
$text-size: 1.6rem;
$text-weight: 500;
$text-color: #000000;
$link-color: #000000;
$main-background: #b79e8c;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: $main-family;
  font-size: $text-size;
  background: #fff;
  font-weight: $text-weight;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
pre,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
  color: $link-color;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* HEADER */
header {
  .top-header {
    background-color: $main-background;
    color: #fff;
    line-height: 48px;
  }
  .logo {
    padding: 10px 0;
  }
}
