$main-family: "Karla", sans-serif;
$text-size: 16px;
$text-weight: 500;
$text-color: #000000;
$link-color: #000000;
$dotted-color: #cccccc;
$direction-color: #a4a4a4;

$h2-size: 24px;

$main-background: #b79e8c;

$nav-color: #fff;
$nav-hover-color: #000;
$nav-background-color: #000000;
$nav-hover-link-color: #ffffff;
$nav-border-color: #000;
$dropdown-background-color: #ffffff;
$dropdown-link-color: #000000;
$dropdown-link-hover-color: #796b62;
$dropdown-min-width: 220px;

$form-input-border: #cccccc;
$form-button-background-color: #b79e8c;
$form-button-color: #ffffff;

$footer-background-color: #000;
$footer-color: #ffffff;
$footer-title-size: 20px;
$footer-link-hover-color: #796b62;
$footer-form-button-background-color: #000;
$footer-form-button-hover-border: #b79e8c;
$footer-form-button-hover-color: #b79e8c;

$page-title-size: 28px;
$sale-color: #c60808;

@media screen and (max-width: 767px) {
  $text-size: calc(16px - (16px * 0.15));
  $h2-size: calc(24px - (24px * 0.15));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font: {
    family: $main-family;
    size: $text-size;
    weight: $text-weight;
  }
  background: #fff;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
pre,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
  color: $link-color;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  object-fit: cover;
  transition: transform 7s cubic-bezier(0.25, 0.5, 0.8, 0.65);
}

.form-control {
  height: 50px;
  border: 1px solid $form-input-border;
  padding-left: 15px;
  font-size: 16px;
}

.stopScrolling {
  height: 100%;
  overflow: hidden;
}

.collapse.show,
.showMenu {
  display: block !important;
}

.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

.icon-close {
  width: 20px;
  height: 20px;
  position: relative;
  &:before {
    content: "";
    height: 20px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 8px;
  }
  &:after {
    content: "";
    height: 20px;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 8px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* HEADER */
header {
  .top-header {
    background-color: $main-background;
    color: #fff;
    line-height: 48px;
    .top-socials {
      // height: 48px;
      gap: 10px;
    }
    .cart-count {
      font-size: 14px;
    }
  }
  .logo {
    padding: 10px 0;
  }
  .mobile-logo {
    padding: 10px 0;
    height: 70px;
    background: #ffffff;
    .cart-count {
      color: $main-background;
      font-size: 14px;
    }
  }
  .primary-menu {
    background-color: $nav-background-color;
    ul.nav {
      & > li {
        padding: 0 20px;
        position: relative;
        & > a {
          color: $nav-color;
          display: inline-block;
          line-height: 60px;
        }
        & > img {
          margin-left: 10px;
        }
        .sub-menu {
          display: none;
          position: absolute;
          left: 0;
          top: 60px;
          min-width: $dropdown-min-width;
          z-index: 99;
          padding: 10px;
          background-color: $dropdown-background-color;
          ul li {
            a {
              line-height: 34px;
              display: block;
              color: $dropdown-link-color;
              &:hover {
                color: $dropdown-link-hover-color;
              }
            }
          }
        }
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
    }
  }
}
#slideout-mobile-navigation {
  display: none;
  .slideout-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background: rgb(30, 30, 30);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0.8;
  }
  .slideout-mobile-content {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 285px;
    background: #ffffff;
    padding: 0 10px;
    z-index: 100;
    @media screen and (min-width: 768px) {
      width: 350px;
    }
    .close-navigation {
      padding: 15px 10px 15px 10px;
      color: #000000;
      line-height: 50px;
      height: 50px;
    }
    .mobile-menu {
      ul.nav {
        & li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0 10px 10px;
          border-bottom: 1px solid #000000;
          & a {
            font-size: calc(16px - (16px * 0.15));
          }
          .arrow-down {
            padding-left: 10px;
            padding-right: 10px;
            height: 22px;
          }
          &.sub-menu {
            // display: none;
            padding-left: 10px;
            padding-bottom: 20px;
            border: none;
            ul {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
/* MAIN BANNER */
main {
  padding-bottom: 30px;
  @media screen and (min-width: 992px) {
    padding-bottom: 50px;
  }
}
.content-banner {
  .carousel-caption {
    top: 30%;
    left: 10%;
    right: auto;
    bottom: auto;
    color: #fff;
    text-align: left;
    padding: 0;
    max-width: 400px;
    @media screen and (min-width: 992px) {
      max-width: 460px;
    }
    h1.caption-title {
      font-size: 45px;
      line-height: 45px;
      letter-spacing: -2px;
      @media screen and (min-width: 576px) {
        font-size: 60px;
        line-height: 60px;
      }
      @media screen and (min-width: 992px) {
        font-size: 75px;
        line-height: 78px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 96px;
        line-height: 85px;
      }
    }
    p.caption-text {
      font: {
        size: 18px;
        weight: 400;
      }
      @media screen and (min-width: 576px) {
        font-size: 20px;
      }
      @media screen and (min-width: 992px) {
        font-size: 24px;
      }
    }
    a {
      padding: 16px 32px;
      border-radius: 100px;
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
    }
  }
}
.main-banner {
  @extend .content-banner;
  .carousel-caption {
    @media screen and (max-width: 767px) {
      position: unset;
      max-width: 100%;
      background: $main-background;
      text-align: center;
      padding: 20px;
    }
    h1.caption-title {
      @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0;
      }
    }
    p.caption-text {
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    a {
      @media screen and (max-width: 767px) {
        padding: 10px 20px;
      }
    }
  }
}

main {
  section {
    padding-bottom: 30px;
    .section-title {
      margin-top: 25px;
      margin-bottom: 25px;
      h2 {
        font-size: $h2-size;
        line-height: $h2-size;
      }
    }
    .section-pretext {
      max-width: 50%;
    }
  }
}

.top-collections {
  .item {
    overflow: hidden;
    .item-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.33) 100%);
      opacity: 0.2;
      z-index: 9;
    }
    .item-title {
      color: #fff;
      font-size: 24px;
      left: 10px;
      bottom: 15px;
      max-width: 100%;
      z-index: 10;
      @media screen and (min-width: 992px) {
        font-size: 36px;
        left: 15px;
        bottom: 20px;
        max-width: 200px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 30px;
        left: 15px;
        bottom: 42px;
      }
      a {
        color: #fff;
      }
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.new-arrivals {
  .product {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    .product-content {
      position: relative;
      .icn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 12px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        -webkit-transition: opacity 1s ease-out;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &.sold-out-icn {
          background: #000000;
        }
        &.sale-icn {
          background: $sale-color;
        }
      }
      .product-info {
        padding: 8px 10px;
        border: 1px solid #e1e1e1;
        .product-title {
          a {
            font-size: 22px;
            font-weight: bold;
          }
          margin-bottom: 8px;
        }
        .product-price {
          .price-item {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            &.price-item--sale {
              color: $sale-color;
            }
            &.price-item--compare {
              text-decoration: line-through;
            }
          }
        }
        .product-color {
          min-height: 40px;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    background: #ffffff;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &.slick-prev {
      left: -50px;
    }
    &.slick-next {
      right: -50px;
    }
  }
}

.explore-collections {
  .explore-collections-content {
    @media screen and (max-width: 767px) {
      overflow-x: scroll;
    }
    .first-line {
      @media screen and (min-width: 768px) {
        width: 50%;
      }
    }
    .second-line {
      @media screen and (min-width: 768px) {
        width: calc(100% / 3);
      }
      h3 {
        font-size: 18px;
        @media screen and (min-width: 992px) {
          font-size: 30px;
        }
        @media screen and (min-width: 1200px) {
          font-size: 48px;
        }
      }
      p {
        color: #858585;
        line-height: 24px;
      }
      a {
        text-decoration: underline;
        line-height: 24px;
      }
    }
    .item {
      @media screen and (max-width: 767px) {
        width: 300px;
        height: 300px;
      }
    }
    div.item {
      @media screen and (max-width: 767px) {
        min-width: 200px;
      }
    }
  }
}

.latest-blogs {
  .row {
    margin-bottom: 25px;
    @media screen and (max-width: 767px) {
      gap: 50px;
    }
  }
  .blog-item {
    .blog-info {
      margin-top: 30px;
      @media screen and (min-width: 768px) {
        margin-top: 50px;
      }
      .blog-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
      }
      p {
        line-height: 24px;
      }
    }
  }
}

.subcribe-email {
  .subcribe-form {
    #email-subcribe {
      width: calc(100% - 180px);
    }
    #subcribe-email-button {
      text-align: center;
      width: 120px;
      color: $form-button-color;
      background-color: $form-button-background-color;
      height: 50px;
      border: none;
      font-size: 16px;
      @media screen and (min-width: 992px) {
        width: 150px;
      }
      @media screen and (min-width: 1200px) {
        width: 180px;
      }
    }
  }
  .subcribe-socials {
    gap: 26px;
  }
}

/* FOOTER */
footer {
  background-color: $footer-background-color;
  color: $footer-color;
  padding-top: 60px;
  padding-bottom: 30px;
  .footer-title h3 {
    font-size: $footer-title-size;
    margin-bottom: 10px;
  }
  .top-footer {
    .footer-menu {
      li {
        a {
          color: $footer-color;
          line-height: 32px;
          &:hover {
            color: $footer-link-hover-color;
          }
        }
      }
    }
    .connect-form {
      #email-connect {
        width: calc(100% - 90px);
      }
      #connect-email-button {
        text-align: center;
        width: 150px;
        color: $form-button-color;
        background-color: $footer-form-button-background-color;
        border: 1px solid transparent;
        height: 50px;
        font-size: 16px;
        @media screen and (min-width: 992px) {
          width: 90px;
        }
        &:hover {
          // border-color: $footer-form-button-hover-border;
          color: $footer-form-button-hover-color;
        }
      }
    }
  }
  .bottom-footer {
    margin-top: 64px;
    padding-top: 32px;
    .footer-left {
      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
      .bottom-socials {
        gap: 10px;
        margin-bottom: 20px;
      }
      .copyright {
        margin-top: 21px;
      }
    }
    .footer-right {
      .partners {
        gap: 5px;
      }
    }
  }
}

.ot-breadcrumb {
  background: none;
  padding-top: 20px;
  font-size: 18px;
  margin-bottom: 0;
}

.page-title {
  text-align: center;
  h3 {
    font-size: $page-title-size;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
}

.left-sidebar {
  #left-sidebar-content {
    display: none;
    margin-bottom: 20px;
    @media screen and (min-width: 992px) {
      display: block;
    }
  }
  .mobile-refine {
    padding: 8px 0;
    border: 1px solid $dotted-color;
    margin-bottom: 20px;
  }
}

.color-icn {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  span {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    background-position: center center;
    border: 1px solid #dddddd;
  }
}
.color-icn + .color-icn {
  margin-left: 10px;
}
.color-icn.active {
  width: 28px;
  height: 28px;
  border: 1px solid #000;
  span {
    border: none;
  }
}

.collection-products {
  .products-list {
    .product-content {
      position: relative;
      .icn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 12px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        -webkit-transition: opacity 1s ease-out;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &.sold-out-icn {
          background: #000000;
        }
        &.sale-icn {
          background: $sale-color;
        }
      }
      .product-info {
        padding: 8px 10px;
        border: 1px solid #e1e1e1;
        .product-title {
          a {
            font-size: 22px;
            font-weight: bold;
          }
          margin-bottom: 8px;
        }
        .product-price {
          .price-item {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            &.price-item--sale {
              color: $sale-color;
            }
            &.price-item--compare {
              text-decoration: line-through;
            }
          }
        }
        .product-color {
          min-height: 40px;
        }
      }
    }
  }
}

.list-collections {
  @extend .top-collections;
  background: #eddfd4;
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
