$main-family: "Karla", sans-serif;
$text-size: 1.6rem;
$text-weight: 500;
$text-color: #000000;
$link-color: #000000;
$main-background: #b79e8c;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font: {
    family: $main-family;
    size: $text-size;
    weight: $text-weight;
  }
  background: #fff;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
pre,
blockquote,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
  color: $link-color;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* HEADER */
header {
  .top-header {
    background-color: $main-background;
    color: #fff;
    line-height: 48px;
  }
  .logo {
    padding: 10px 0;
  }
}

/* MAIN BANNER */
.main-banner {
  .carousel-caption {
    top: 15%;
    left: 10%;
    right: auto;
    bottom: auto;
    color: #fff;
    text-align: left;
    max-width: 460px;
    h1.caption-title {
      font-size: 96px;
      line-height: 85px;
      letter-spacing: -2px;
    }
    p.caption-text {
      font: {
        size: 24px;
        weight: 400;
      }
    }
    a {
      padding: 16px 32px;
      border-radius: 100px;
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
    }
  }
}

main {
  section {
    padding-bottom: 30px;
    .section-title {
      margin-top: 25px;
      margin-bottom: 25px;
      h2 {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

.top-collections {
  .item {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.33) 100%
    );
    .item-title {
      color: #fff;
      font-size: 36px;
      left: 15px;
      bottom: 42px;
      max-width: 200px;
    }
  }
}

.new-arrivals {
  .product-content {
    .product-info {
      padding: 8px 10px;
      border: 1px solid #e1e1e1;
      .product-title {
        a {
          font-size: 22px;
          font-weight: bold;
        }
        margin-bottom: 8px;
      }
      .product-price {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .product-color {
        .color-item {
          width: 18px;
          height: 18px;
          display: inline-block;
          border-radius: 50%;
          span {
            width: 18px;
            height: 18px;
            display: inline-block;
            border-radius: 50%;
            background-position: center center;
            border: 1px solid #dddddd;
          }
        }
        .color-item + .color-item {
          margin-left: 10px;
        }
        .color-item.active {
          width: 28px;
          height: 28px;
          border: 1px solid #000;
          span {
            border: none;
          }
        }
      }
    }
  }
}
