@font-face {
  font-family: SF Pro Display;
  src: url("../fonts/SF-Pro.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: SF Pro Display;
  font-size: 2.4rem;
  background: #fff;
  font-weight: 300;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 29px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: SF Pro Display;
  font-weight: 600;
  line-height: 1;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.btn-rounded {
  border-radius: 50px !important;
}

.container {
  max-width: 1110px;
}

/* HEADER */
.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.logo img {
  width: auto;
}

.primary-menu ul {
  background-color: #b4ad9e;
  text-align: center;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  z-index: 10;
}
.primary-menu ul > li > a {
  display: block;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #333333;
  font-size: 20px;
}
.primary-menu ul > li:last-child > a {
  padding-right: 0;
  border-bottom: none;
}

.mobile-menu {
  color: #333333;
  font-size: 18px;
  right: 15px;
  top: -20px;
}
.mobile-menu:hover,
.mobile-menu:focus {
  color: #333333;
}

@media (min-width: 768px) {
  .header {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .primary-menu ul {
    background-color: transparent;
    text-align: left;
    display: flex;
    position: unset;
  }
  .primary-menu ul > li > a {
    margin-left: 54px;
    color: inherit;
    border: none;
  }
  .primary-menu ul > li:first-child > a {
    margin-left: 0;
  }
}

/* SLIDE */
.banner-slider .slides .caption {
  margin-top: 0;
  margin-left: 0;
}
.banner-slider .slides .caption .text {
  background-color: #fff;
  font-size: 20px;
  line-height: 24px;
}
.banner-slider .slides .caption span {
  font-weight: bold;
}
.slide-controls a {
  background-color: #fff;
}
.slide-controls a.control-prev {
  padding: 0 10px 0 15px;
}
.slide-controls a.control-next {
  padding: 0 15px 0 0;
}
.slide-controls img {
  width: auto;
}
@media (min-width: 768px) {
  .banner-slider .slides .caption {
    max-width: 460px;
    margin-top: -150px;
    margin-left: 100px;
  }
  .slide-controls a.control-prev {
    padding: 15px 15px 15px 32px;
  }
  .slide-controls a.control-next {
    padding: 15px 32px 15px 15px;
  }
  .banner-slider .slides .caption .text {
    font-size: 36px;
    line-height: 43px;
  }
}

/* SECTION */
main section {
  margin-top: 40px;
}
section .sect-heading {
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  section > .col-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
  section .sect-heading {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 40px;
  }
}

/* FACTS */
.facts .fact-item {
  border-bottom: 1px solid #979797;
}
.facts .fact-item .fact-number {
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  color: #ef5d64;
}
.facts .fact-item .fact-title {
  font-weight: 800;
  margin-bottom: 10px;
}
.facts .fact-item .fact-desc {
  margin-bottom: 30px;
}
.facts .fact-item a {
  font-weight: 500;
}
@media (min-width: 768px) {
  .facts .fact-item {
    border-top: 1px solid #979797;
  }
  .facts .fact-item {
    padding-left: 27px !important;
    padding-right: 27px !important;
  }
  .facts .fact-item .fact-number {
    font-size: 72px;
    line-height: 86px;
  }
  .facts .fact-item .fact-desc {
    margin-bottom: 60px;
  }
}

/* NEWS */
.news .news-item {
  width: 100%;
  margin-bottom: 30px;
}
.news .news-item .news-title {
  font-weight: 600;
  margin-top: 23px;
  margin-bottom: 10px;
}
.news .more-news a {
  border: 1px solid #333333;
  padding: 14px 50px 17px 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

@media (min-width: 768px) {
  .news .news-item {
    width: calc((100% - 60px) / 2);
    margin-bottom: 45px;
  }
}

/* TESTIMONIALS */

.testimonials-content blockquote {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.833333px;
  margin-bottom: 30px;
}
.profile-image {
  width: 90px;
}
.user-details {
  width: calc(100% - 125px);
}
.user-details .name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2.5px;
}
.user-details .role {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2.5px;
}
@media (min-width: 768px) {
  .testimonials {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .testimonials-content {
    padding: 0 35px;
  }
  .testimonials-content blockquote {
    font-size: 30px;
    line-height: 54px;
    letter-spacing: 0.833333px;
    margin-bottom: 70px;
  }
}
/* SUBCRIBES */
.subcribes p {
  font-weight: 600;
}
.subcribe-form {
  margin-top: 45px;
  width: 100%;
}
.subcribe-form .email-icon {
  left: 5px;
  top: 20px;
  width: 30px;
}
.subcribe-form .right-icon {
  border: none;
  border-left: 1px solid #333333;
  background-color: transparent;
  right: 0;
  top: 0;
  height: 100%;
  width: 107px;
  cursor: pointer;
}
.subcribe-form input[type="email"] {
  width: 100%;
  padding: 20px 60px;
  border: 1px solid #000000;
}
.subcribe-form .right-icon img {
  width: 36px;
}
@media (min-width: 768px) {
  .subcribe-form {
    margin-top: 60px;
    max-width: 690px;
  }
  .subcribe-form input[type="email"] {
    width: 100%;
    padding: 25px 118px;
  }
  .subcribe-form .email-icon {
    left: 25px;
    top: 16px;
    width: 38px;
  }
  .subcribe-form .right-icon {
    width: 107px;
  }
  .subcribe-form .right-icon img {
    width: 44px;
  }
}
@media (max-width: 576px) {
  .subcribe-form input[type="email"] {
    padding: 20px 40px;
    font-size: 18px;
  }
  .subcribe-form .right-icon {
    width: 40px;
  }
}
/* FOOTER */
footer {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.21429px;
  margin-top: 80px;
  margin-bottom: 80px;
}
footer > div > div {
  border-top: 1px solid #979797;
}
.foo-menu ul li a {
  margin-left: 30px;
}
.foo-menu ul li:first-child a {
  margin-left: 0;
}
@media (min-width: 768px) {
  footer {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
