* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background: #fff;
  font-weight: 400;
  color: #000;
}
body,
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
.container {
  width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}

/* HEADER */
header {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}
header .container .top-header {
  height: 60px;
  line-height: 60px;
}
.logo {
  margin-right: 40px;
}
.navbar .navbar-item a {
  color: #fff;
  padding: 0 15px;
  margin: 5px;
  border-radius: 30px;
  height: 30px;
  line-height: 28px;
  -webkit-transition: height 0.3s, line-height 0.3s, margin-top 0.3s;
  transition: height 0.3s, line-height 0.3s, margin-top 0.3s;
}
.navbar .navbar-item a:hover {
  height: 40px;
  line-height: 38px;
}
.navbar .navbar-item:nth-of-type(1) a {
  background: #f3384a;
}
.navbar .navbar-item:nth-of-type(2) a {
  background: #ff5722;
}
.navbar .navbar-item:nth-of-type(3) a {
  background: #efb700;
}
.navbar .navbar-item:nth-of-type(4) a {
  background: #a180da;
}
.navbar .navbar-item:nth-of-type(5) a {
  background: #5b7dff;
}
.main-image {
  width: 980px;
  height: 290px;
}

.small-images a {
  width: 320px;
  height: 90px;
  margin-bottom: 10px;
}

/* MAIN */
.tray-list {
  margin-top: 20px;
}
.tray-list > .row {
  margin-left: -5px;
  margin-right: -5px;
}
.tray__list--title {
  margin-bottom: 5px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 100;
}
.tray__list--item {
  margin: 0;
}
.tray__item--content {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  position: relative;
}

.tray__item--description {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 0;
  color: #eee;
  padding: 30px 15px 10px;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
}
.tray__item--content a {
  overflow: hidden;
  max-height: 180px;
}
.anime-list .tray__item--content a {
  max-height: 800px;
}
.tray__item--content img {
  transition: all 0.7s;
}
.tray__item--content a:hover img {
  transform: scale(1.2);
}
.anime-list .tray__item--content a:hover img {
  opacity: 0.8;
  transform: scale(1);
}
.tray__item--description .tray-title {
  margin-bottom: 2px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tray__item--description .tray-episode-name {
  font-size: 12px;
}

footer .container {
  color: #888;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.4rem;
}
