* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background: #fff;
  font-weight: 300;
  color: #000;
}
body,
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}

/* HEADER */
header .container {
  padding: 5rem 0;
  background: #f2f2f2;
}
.social-links .fab {
  font-size: 2.4rem;
}
.social-links .fa-linkedin {
  color: #007bb6;
}
.social-links .fa-facebook-square {
  color: #3b5998;
}
.social-links .fa-twitter-square {
  color: #00aced;
}
.social-links .fa-youtube-square {
  color: #bb0000;
}
.social-links .fa-instagram-square {
  color: #3f729b;
}
.social-links .fa-whatsapp-square {
  color: #075e54;
}

/* MAIN */
main {
  padding-top: 4rem;
}

.list-posts {
  margin-left: -10px;
}
.post-item {
  margin-bottom: 2rem;
}
.post-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f3f3f3;
  box-shadow: 0 3px 1px #f3f3f3;
}
.post-title a {
  font-weight: 100;
  color: #666666;
}
.post-info {
  margin-bottom: 2rem;
}
.post-info img {
  width: 12px;
  margin-right: 0.5rem;
  vertical-align: baseline;
}
.post-image {
  margin-bottom: 1.5rem;
}
.post-image img {
  width: 100%;
}
.post-desc {
  font-size: 1.4rem;
}

/* SIDEBAR */
.sidebar-inner {
  margin-right: -10px;
}
.sidebar-inner .module {
  background: #f2f2f2;
  border: solid 1px #ededed;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.module-title {
  font-size: 2.4rem;
  color: #999;
  font-weight: 400;
  text-transform: capitalize;
}

.list-categories {
  margin-top: 1rem;
}
.list-categories .category-item {
  background: #fff;
  font-size: 1.6rem;
  border-bottom: solid 1px #e7e7e7;
}
.list-categories .category-item a {
  padding: 10px;
}
.list-categories .category-item a:hover {
  background: #39c7f4;
  color: #fff;
}
.list-categories .category-item .count-post {
  color: #31708f;
  background-color: #d9edf7;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 3px 7px;
}
