.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-uppercase {
  text-transform: uppercase;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
.align-end {
  align-items: end;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.col-1 {
  width: 4.16%;
}
.col-2 {
  width: 8.33%;
}
.col-3 {
  width: 12.5%;
}
.col-4 {
  width: 16.66%;
}
.col-5 {
  width: 20.8%;
}
.col-6 {
  width: 25%;
}
.col-7 {
  width: 29.16%;
}
.col-8 {
  width: 33.33%;
}
.col-9 {
  width: 37.5%;
}
.col-10 {
  width: 41.7%;
}
.col-11 {
  width: 45.9%;
}
.col-12 {
  width: 50%;
}
.col-13 {
  width: 54.17%;
}
.col-14 {
  width: 58.33%;
}
.col-15 {
  width: 62.5%;
}
.col-16 {
  width: 66.67%;
}
.col-17 {
  width: 70.8%;
}
.col-18 {
  width: 75%;
}
.col-19 {
  width: 79.17%;
}
.col-20 {
  width: 83.33%;
}
.col-21 {
  width: 87.6%;
}
.col-22 {
  width: 91.7%;
}
.col-23 {
  width: 95.9%;
}
.col-24 {
  width: 100%;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.mar-left-10 {
  margin-left: -10px;
}
.mar-right-10 {
  margin-right: -10px;
}
.mar-10 {
  margin-left: -10px;
  margin-right: -10px;
}
