* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  background: #fff;
  font-weight: 400;
  color: #555555;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  margin-top: 10px;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  margin: 0 0 10px;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.full-width .container {
  width: 100%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* BANNER */
.banner-top {
  position: relative;
  overflow: hidden;
}
.banner-top::before,
.banner-top::after,
.banner-top > [class*="container"]::before,
.banner-top > [class*="container"]::after {
  position: absolute;
  content: "";
  display: block;
}
.banner-top::before {
  left: auto;
  right: 0.5%;
  top: 2%;
  bottom: auto;
  padding: 3.1%;
  background-image: url(../image/topright.png);
  background-size: cover;
  z-index: 3;
}
.banner-top::after {
  top: 0;
  bottom: -1px;
  left: 84.5%;
  right: 0;
  z-index: 2;
  -webkit-transform: skewX(51.5deg);
  -moz-transform: skewX(51.5deg);
  -ms-transform: skewX(51.5deg);
  -o-transform: skewX(51.5deg);
  transform: skewX(51.5deg);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0;
  background-color: #1bc7ff;
}
.banner-top > [class*="container"]::before {
  left: 1.5%;
  bottom: 1%;
  top: auto;
  padding: 6.25%;
  background-image: url(../image/bottomleft.png);
  background-size: cover;
  background-repeat: none;
  z-index: 3;
}
.banner-top > [class*="container"]::after {
  top: 0;
  bottom: -1px;
  left: 0%;
  right: 75.5%;
  z-index: 2;
  background-color: #1a232a;
  -webkit-transform: skewX(51.5deg);
  -moz-transform: skewX(51.5deg);
  -ms-transform: skewX(51.5deg);
  -o-transform: skewX(51.5deg);
  transform: skewX(51.5deg);
  -webkit-transform-origin: 100% 100% 0;
  -moz-transform-origin: 100% 100% 0;
  -ms-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;
}
.banner-top .caption {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 50%;
  font-size: 3.6rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 120%;
}
.banner-top .caption::before {
  width: 45px;
  height: 45px;
  content: "";
  position: absolute;
  top: -65px;
  left: 49%;
  text-align: center;
  background: url(../image/cs-logoico.png) top center no-repeat;
}

/* TOP NAV */
.top-nav {
  background-color: #1a232a;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
.nav-item > a {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1.8rem 2rem;
  margin: 0;
  text-align: left;
}
.nav-item > a:hover,
.nav-item > a:focus {
  color: #1bc7ff;
}

/* MAIN BLOCK */
main section > [class*="container"] {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container-intro {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.top-nav > [class*="container"] {
  padding-top: 0;
  padding-bottom: 0;
}
.team-members {
  margin-top: 30px;
}
.member-item {
  margin-bottom: 30px;
}
.member-name a {
  color: #000;
  font-weight: 400;
  font-size: 1.8rem;
}
.member-description ul li a {
  color: #ccc;
}
.member-description ul li .fab {
  border: 2px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 3px;
  padding: 4px;
  width: 26px;
}
.member-description ul li a:hover {
  color: #1bc7ff;
}

#service {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../image/service_bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  color: #ffffff;
}
.service-detail {
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}
.service-detail img {
  padding: 50px;
  border: 1px solid;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.portfolio .item {
  width: 20%;
  position: relative;
}
.portfolio .item .portfolio-img {
  padding: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.portfolio-content {
  bottom: 0;
  left: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  text-align: center;
  color: #ffffff;
  background-color: #1bc7ff;
}
.portfolio .item:hover .portfolio-content {
  opacity: 1;
  filter: alpha(opacity=100);
}
.blog-item .item-detail {
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.blog-item .item-content {
  padding: 1rem 3rem;
}
.blog-item .item-title {
  color: #666666;
}
.blog-item .item-info {
  color: #333333;
  font-size: 1.3rem;
  padding: 0 0 1rem;
  margin: 0 0 2rem;
  border-bottom: 1px solid #e5e5e5;
}
.blog-item .item-info > * {
  margin-right: 5px;
}
.blog-item .item-info .fas {
  padding-right: 5px;
  color: #cbcbcb;
}
.readmore {
  color: #666666;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1rem 0 2rem;
  padding: 0.5rem 2rem;
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
#contact {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../image/contact_bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  color: #ffffff;
}
.social-links {
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn-social {
  width: 100%;
  border: 1px solid;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin: 10px 0;
  text-align: center;
  color: #fff;
  height: 40px;
}
.btn-facebook {
  border-color: #5f91d0;
}
.btn-twitter {
  border-color: #1bc7ff;
}
.btn-google {
  border-color: #dc4a38;
}
.btn-linkedin {
  border-color: #2882c2;
}
.btn-social .btn-addon {
  padding: 6px 10px;
  white-space: nowrap;
  background-color: #5f91d0;
  color: #ffffff;
  height: 38px;
  line-height: normal;
}
.btn-facebook .btn-addon {
  background-color: #5f91d0;
}
.btn-twitter .btn-addon {
  background-color: #1bc7ff;
}
.btn-google .btn-addon {
  background-color: #dc4a38;
}
.btn-linkedin .btn-addon {
  background-color: #2882c2;
}
.contact-info {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.contact-addon {
  margin-right: 15px;
}
/* FOOTER */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
